header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header-contact {
  background-color: #dc4345;
  padding: 0.8rem 0;
  vertical-align: middle;
}

.header-contact .reach a {
  padding-right: 2rem;
  color: #ffffff;
}

.header-contact nav a {
  margin-left: 2rem;
  color: #ffffff;
}

.header-main {
  background-color: #f2f2f2;
}

.header-main .brand {
  color: #000;
  font-size: 2rem;
  font-weight: 800;
}

.header-main .brand span {
  color: #dc4345;
}

.header-main a {
  color: black;
  margin-left: 1.5rem;
  display: inline-block;
  padding: 2rem 0.5rem;
}

.header-main a:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eb5f61;
  color: #ffffff;
}

.header-main .active {
  background-color: #eb5f61;
  color: #ffffff;
}

.header-main .sub-menu-box {
  position: relative;
}

.header-main .sub-menu {
  display: none;
  position: absolute;
  background-color: #dddddd;
  width: 10rem;
  top: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
}

.header-main .sub-menu a {
  color: #000;
  font-weight: 400;
  padding: 1rem;
  width: 100%;
}

.header-main .sub-menu a:hover {
  color: #fff;
  margin-left: 0;
  text-align: center;
}

.header-main .sub-menu .fas {
  position: absolute;
  color: #dddddd;
  font-size: 2rem;
  top: -1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: black;
}

.header-main .sub-menu-box:hover .sub-menu {
  display: inline-block;
}

.header-main .sub-menu .active2 {
  color: #ffffff;
  margin-left: 0;
  text-align: center;
  background-color: #dc4345;
}

.header-main input,
.header-main label {
  display: none;
}

@media all and (max-width: 1080px) {
  .header-main nav {
    display: none;
  }
  .header-main label {
    display: inline-block;
  }
  input:checked ~ nav {
    position: fixed;
    top: 7.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dc4345;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  label {
    display: inline-block;
  }
  .wrap2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  input:checked ~ nav {
    position: fixed;
    top: 9.9rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dc4345;
  }
  input:checked ~ nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
/*# sourceMappingURL=-header.css.map */